services:
  nginx:
    image: nginx:stable-alpine
    container_name: phu-nginx
    restart: always
    ports:
      - "8080:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app-core
      - app-realtime
      - redis

  app-core:
    build:
      context: ./web
      dockerfile: Dockerfile
    container_name: phu-app-core
    environment:
      - FLASK_APP=app.py
      - SECRET_KEY=secret123
      - SESSION_TYPE=redis
      - SESSION_REDIS=redis://redis:6379/1
      - MONGO_URI=mongodb://admin:password@mongodb:27017/PokemonNexusDB?authSource=admin
      - ROLE=coordinator
      - PARTICIPANTS=phu-app-realtime
      - NODE_ID=1
    command: ["python", "app.py"]
    ports:
      - "9002:5000"
    depends_on:
      - redis
      - mongodb

  app-realtime:
    build:
      context: ./web
      dockerfile: Dockerfile
    container_name: phu-app-realtime
    environment:
      - FLASK_APP=app.py
      - SECRET_KEY=secret123
      - SESSION_TYPE=redis
      - SESSION_REDIS=redis://redis:6379/1
      - MONGO_URI=mongodb://admin:password@mongodb:27017/PokemonNexusDB?authSource=admin
      - ROLE=participant
      - NODE_ID=2
    command: ["python", "app.py"]
    expose:
      - "5000"
    depends_on:
      - redis
      - mongodb

  redis:
    image: redis:latest
    container_name: phu-redis
    restart: always
    command: redis-server --bind 0.0.0.0
    expose:
      - "6379"

  mongodb:
    image: mongo:latest
    container_name: phu-mongodb
    restart: always
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=password
    expose:
      - "27017"

  node1:
    build:
      context: .
      dockerfile: Dockerfile.grpc
    container_name: node1
    environment:
      - NODE_ID=1
    command: ["python", "raft_node.py"]
    ports:
      - "9001:50051"

  node2:
    build:
      context: .
      dockerfile: Dockerfile.grpc
    container_name: node2
    environment:
      - NODE_ID=2
    command: ["python", "raft_node.py"]

  node3:
    build:
      context: .
      dockerfile: Dockerfile.grpc
    container_name: node3
    environment:
      - NODE_ID=3
    command: ["python", "raft_node.py"]

  node4:
    build:
      context: .
      dockerfile: Dockerfile.grpc
    container_name: node4
    environment:
      - NODE_ID=4
    command: ["python", "raft_node.py"]

  node5:
    build:
      context: .
      dockerfile: Dockerfile.grpc
    container_name: node5
    environment:
      - NODE_ID=5
    command: ["python", "raft_node.py"]

volumes:
  phu-mongo-volume:
  phu-redis-volume:
